VITE_TRADE_BRIDGE_SCA=0xCF0afE977a7e2BF0ac43da91321eCdc4b6199f21
VITE_PINATA_JWT=
VITE_PINATA_GATEWAY=cyan-hilarious-cuckoo-772.mypinata.cloud
VITE_PINATA_API_URL="https://api.pinata.cloud/v3/files/sign"
VITE_PINATA_API_KEY=


